.block-container {
  margin-top: -2%;
  width: 50%;
}
.last-column {
  text-align: right;
}

.table-column-row {
  display: flex;
  flex-direction: column;
}

a {
  color: #3498db;
  text-decoration: none;
}
