.list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  background-color: #f1f2f3;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
}

.list-icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  background-color: #f1f2f3;
  border-radius: 50%;
}

.table-border {
  border-radius: 0.35rem;
}

.list-icon-title {
  font-size: 15px;
  font-weight: bold;
}

.h4-title {
  font-size: 1.3125rem;
  color: #4a4f55;
}

.text-secondary {
  color: #77838f;
}

.small {
  font-size: 80%;
  font-weight: 400;
}

.center-row {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.home-bottom-button {
  width: 95%;
  margin-top: 1%;
  border: 0;
}

.byte-codes-text {
  padding: 0.75rem;
  width: 98%;
  overflow: auto;
  word-break: break-all;
  background-color: #f8f9fa;
  border: 1px solid #e7eaf3;
  border-radius: 0.35rem;
  margin-bottom: 0.5rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 85%;
  line-height: 1.5;
  margin-top: 25px;
}

.success-status {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(238, 249, 246);
  height: 33px;
  width: 90px;
  border-radius: 15px;
}

.pending-status {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(241, 242, 243);
  height: 33px;
  width: 90px;
  border-radius: 15px;
}

.fail-status {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(241, 242, 243);
  height: 33px;
  width: 90px;
  border-radius: 15px;
}
